---
title: Form elements
layout: blocks
published: true
date: 2014-11-12 00:00
slug: /forms
category: elements
thumb: elements-forms-thumb.png
---
{% block content %} 
<p>Every element must be part of a <span>fieldset</span>, otherwise the styles won't be rendered appropriately (accessiblity considerations aside).</p>
<pre>
	<code>
&lt;form&gt;<br/>  &lt;fieldset&gt;<br/>    &lt;p&gt;<br/>      &lt;label&gt;This is the label&lt;/label&gt;<br/>      &lt;input type=&quot;text&quot; value=&quot;Some predefined text here&quot;&gt;<br/>    &lt;/p&gt;<br/>  &lt;/fieldset&gt;<br/>&lt;/form&gt;
	</code>
</pre>

<h2>Buttons</h2>

<div class="row">
	<div class="small4 large5 col">
		<h3>Normal button</h3>
		<p><input class="button" value="Normal Button"></p>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;input class=&quot;button&quot; value=&quot;Normal Button&quot;&gt;
			</code>
		</pre>
	</div>
</div>


<div class="row">
	<div class="small4 large5 col">
		<h3>Primary action button</h3>
		<p><input class="button primary" value="Primary action"></p>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;input class=&quot;button primary&quot; value=&quot;Primary action&quot;&gt;
			</code>
		</pre>
	</div>
</div>
<div class="row">
	<div class="small4 large5 col">
		<h3>Disabled button</h3>
		<p><input class="button disabled" disabled value="Disabled"></p>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;input class=&quot;button disabled&quot; disabled value=&quot;Disabled&quot;&gt;
			</code>
		</pre>
	</div>
</div>

<div class="row">
	<div class="small4 large5 col">
		<h3>Submit button</h3>
			<fieldset>
				<p><input type="submit" value="Submit button"></p>
			</fieldset>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;input type=&quot;submit&quot; value=&quot;Submit button&quot;&gt;
			</code>
		</pre>
	</div>
</div>

<h2>Fields</h2>
<div class="row">
	<div class="small4 large5 col">
		<h3>A standard text input field, with label</h3>
		<fieldset>
				<p>
					<label>Normal text input field</label>
					<input type="text" placeholder="Some predefined text here">
					<p class="form-help">This is help text under the form field.</p>
				</p>
			</fieldset>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;label&gt;Normal text input field&lt;/label&gt;<br/>&lt;input type=&quot;text&quot; placeholder=&quot;Some predefined text here&quot;&gt;<br/>&lt;p class=&quot;form-help&quot;&gt;This is help text under the form field.&lt;/p&gt;
			</code>
		</pre>
	</div>
</div>

<div class="row">
	<div class="small4 large5 col">
		<h3>An input field meant for URLs, with label</h3>
			<fieldset>
				<label for="url">URL</label>
				<input type="url" class="form-text" placeholder="http://yourdomain.com" />
			</fieldset>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;label for=&quot;url&quot;&gt;URL&lt;/label&gt;<br/>&lt;input type=&quot;url&quot; id=&quot;url&quot; class=&quot;form-text&quot; placeholder=&quot;http://yourdomain.com&quot; /&gt;
			</code>
		</pre>
	</div>
</div>


<div class="row">
	<div class="small4 large5 col">
		<h3>Some radio buttons, with label</h3>
			<fieldset class="radio">
				<label for="notifications">Radio buttons</label>
				<ul>
					<li><label><input type="radio" name="notifications"> Send me email</label></li>
					<li><label><input type="radio" name="notifications"> Don't send me email</label></li>
					<li><label><input type="radio" name="notifications"> Send me flowers</label></li>
				</ul>
			</fieldset>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;label&gt;Normal text input field&lt;/label&gt;<br/>&lt;input type=&quot;text&quot; value=&quot;Some predefined text here&quot;&gt;
			</code>
		</pre>
	</div>
</div>


<div class="row">
	<div class="small4 large5 col">
		<h3>A textarea, with label</h3>
		<fieldset>
			<label for="bio">Bio</label>
			<textarea id="bio"></textarea>
		</fieldset>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;fieldset&gt;<br/>  &lt;label for=&quot;bio&quot;&gt;Bio&lt;/label&gt;<br/>  &lt;textarea id=&quot;bio&quot;&gt;&lt;/textarea&gt;<br/>&lt;/fieldset&gt;
			</code>
		</pre>
	</div>
</div>

<div class="row">
	<div class="small4 large5 col">
		<h3>The classic T&amp;Cs checkbox that nobody reads</h3>
		<fieldset class="check">
			<label><input type="checkbox" /> I accept the terms of service and lorem ipsum.</label>
		</fieldset>
	</div>
	<div class="small4 large3 col">
		<pre>
			<code>
&lt;fieldset class=&quot;check&quot;&gt;<br/>  &lt;label&gt;&lt;input type=&quot;checkbox&quot; /&gt; I accept the terms of service and lorem ipsum.&lt;/label&gt;<br/>&lt;/fieldset&gt;
			</code>
		</pre>
	</div>
</div>
							


<h2>Form errors</h2>
<p>Add how your form displays errors here.</p>

<h2>Search form</h2>
<p>Add how the search form looks like, if different than a normal input field.</p>



{% endblock %}

