---
title: Navigation
layout: blocks
published: true
date: 2014-11-09 00:00
slug: /navigation
category: elements
---
{% block content %} 

<p class="norCategory"><a href="/{{ model.category }}">{{ model.category }}</a></p>	
<h1>Navigation</h1>
<p>Document how your navigation works here.</p>
{% endblock %}