---
title: Navigation
layout: blocks
published: true
date: 2014-11-09 00:00
slug: /navigation
---
{% block content %} 
	
<h1>Navigation</h1>
<p>Document how your navigation works here.</p>
{% endblock %}