---
title: Typography
layout: blocks
published: true
date: 2014-11-09 00:00
slug: /typography
category: elements
---
{% block content %} 

<h1>Level 1 heading</h1>
<h2>Level 2 heading</h2>
<h3>Level 3 heading</h3>
<h4>Level 4 heading</h4>
<h5>Level 5 heading</h5>	


<h2>Lists</h2>
	<ul>
		<li>This is an unordered list</li>
		<li>With some elements</li>
		<li class="selected">This is selected</li>
		<li><a href="#">And this is a link in a list</a></li>
	</ul>
	<br><br>
	<ol>
		<li>This is an ordered list</li>
		<li>With some elements</li>
		<li class="selected">This is selected</li>
		<li><a href="#">And this is a link in a list</a></li>
	</ol>

<h2>Paragraphs</h2>
{{ 2 | lorem_ipsum:'p' }}

<h2>A quote</h2>
<blockquote>{{ 1 | lorem_ipsum:'p' }}</blockquote>

{% endblock %}

