---
title: Device and browser support
layout: blocks
published: true
date: 2014-11-10 00:00
slug: /device-browser-support
---
{% block content %} 
	
<h1>Device and browser support</h1>
<p>Document what devices and browsers do you support.</p>
{% endblock %}