---
title: Device and browser support
layout: blocks
published: true
date: 2014-11-10 00:00
slug: /device-browser-support
category: strategy
description: What browsers and devices are we supporting
---
{% block content %} 
<p>Document what devices and browsers do you support.</p>
{% endblock %}