---
title: Responsive budget
layout: blocks
published: true
date: 2014-11-11 00:00
slug: /responsive-budget
---
{% block content %} 
	
<h1>Responsive budget</h1>
<p>If you have one (lucky you!), document your performance budget here.</p>
{% endblock %}