---
title: Responsive typography
layout: blocks
published: true
date: 2014-11-11 00:00
slug: /responsive-typography
category: strategy
description: How typography responds to different screen sizes
---
{% block content %} 
	
<p>Document how are you going to manage your responsive typoegraphy here.</p>
{% endblock %}