{% include "head" %}
    <body>
        {% include "header" %}
        <div class="container">
            <!-- Include -->
            
            <!-- Content block, child page inject content -->
            <div class="theMeat">
                <main>
                    <div class="row">
                        <div class="small4 large8 col module-visuals">
                            {% block content %}{% endblock %}
                            <h4>How it looks like</h4>
                            {% block visuals %}Images go here{% endblock %} 
                        </div>
                    </div>

                    <div class="row">
                        <div class="small4 large4 col">
                          <h4>HTML</h4>
                          <pre>
                                <code>{% block html %}Default code{% endblock %}</code>
                            </pre>
                           
                        </div>
                        <div class="small4 large4 col">
                            <h4>CSS</h4>
                            <pre>
                                <code>{% block css %}Default code{% endblock %}</code>
                            </pre>
                            
                        </div>
                    </div>
                


                </main>
                {% include "navigation" %}
            </div>
            {% include "footer" %}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "app.js" | asset_url | script_tag }}
    </body>
</html>