---
title: Example module
layout: module
published: true
date: 2014-11-02 00:00
slug: /example-module
tags: [example,news,story]
---


{% block content %} 
<h2>Example module</h2>
	{{ 2 | lorem_ipsum:'p' }}
	
{% endblock %}


{% block visuals %} 
	{{ 1 | lorem_ipsum:'p' }}
	
{% endblock %}

{% block code %}
<h1>Some code goes here</h1>
<p>Hola!</p>

{% endblock %}

