
/*  LAYOUT  */

.container {
  width: 96%;
    max-width: $max-width;
    margin: 0 auto;
}


/*  random colours and spacing for prototyping */
.color1 {background-color: #3A8EE2;}
.color2 {background-color: #ddd;}
.color3 {background-color: #f2f3f4;}

.tomato {background-color: tomato;}
.sandybrown {background-color: sandybrown;}
.turquoise {background-color: turquoise}
.violet {background-color: violet}
.wheat {background-color: wheat}
.yellowgreen {background-color: yellowgreen}

.space1 {padding: 1em 0;}
.space2 {padding: 2em 0;}
.space3 {padding: 3em 0;}
.space4 {padding: 4em 0;}
.space5 {padding: 5em 0;}
.space6 {padding: 6em 0;}

.right {
  float:right;
}



/* HEADER */

header {
  display: flex;
  color: #fff;
  background: lightslategray;
  padding:0.5em 1em;
  margin-bottom: 2em;
  border-bottom: 2px solid lightsteelblue;

  .title {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 1em 0 0;
    padding:0;
    white-space: nowrap;

    a {
      color: #fff;
      border:none;
    }
  }
  nav li {
    float: left;
    list-style-type: none;
    line-height: 3rem;
    padding-right: 1.5em;
  }

  @media all and (max-width: 40em) {
    nav li {padding-right: 0.5em;}
  }
  
  nav ul {
    list-style: none;
    margin-left: 2em;
  }
  nav a {
    color: #fff;

    
  }
  nav a:hover {
    color: #222;
  }

  .selected {
    color: #222;
    border: none;
  }
}


/* CENTRAL CONTENT AREA */

.theMeat {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 55em) {

.theMeat > aside {
  margin-top: 1em;
  border-top: 6px double #888;
  width: 100%;
  background: #f2f3f4;

  ul {
    margin: 0;
  }
  li {
    padding: .5em 2em .7em;
    border-bottom: 1px solid #ccc;  
    list-style: none;
    margin-left: 0;
  }
  
}

} //media query ends 

@media all and (min-width: 55em) {
  .theMeat {
    flex-direction: row;
  }

  /* left-hand navigation */
  .theMeat > aside {
    width: 20%;
    order: 1;
    

    ul {
      margin: 0 1em 0 0;
      border-right: 1px solid #ccc;
    }

    li {
      list-style: none;
      margin-left: 0;
      padding: 0 0 1em 0;
      line-height: 1.2;

    }
    li strong {padding-top: 1em;}
  }

  /* main content */
  .theMeat main {
    width: 80%;
    order: 2;
    padding-left: 1em;
  }

}

/* breadcrumb */
.ductCategory {
  font-size: 1.4rem;
  margin: 0;

  :after {
    content: "\002F";
    color: #666;
    margin-left: 10px;
  }

  a {
    border: none;
  }
}

.ductModified {
  font-size: 1.4rem;
  color: #666;
  margin: 0 0 2em 0;
  padding-left: 1em;
  border-left: 5px solid #ccc;
}




/* styles to visualise the responsive grid page */
.ductGrid {
  .col {
    padding-right: 0;
    padding-left: 0;
    color: #fff;
  }



  p {
    color: #fff;
    text-align: center;
    margin-bottom: .2em;
  }

  .col > p {
    margin-right: 0.2em;
  }

}

.ductLayout {
  width: 55%;
  float: left;
}
.ductLayout-desc {
  width: 40%;
  margin-left: 3%;
  float: left;
}

@media all and (max-width: 55em) {
  .ductLayout-desc, 
  .ductLayout {
    width: 100%;
    float: none;
  } 
  .ductLayout-desc {
    margin: 1.5em 0;
  }

}

// GRID LIST
.duct-modulesList {
  display: flex;
  flex-wrap: wrap;

  p {
    margin: 0;
  }

  img {
    max-width: 12em;
  }
  
  div {
    padding: 1em;
    border: 1px solid #f2f3f4;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    margin: 1%;
    flex-grow: 1;
  }

  h2 {
    margin-top: 0;
  }
}

@media all and (max-width: 40em) {
  .duct-modulesList  {
    flex-direction: column;
  }
}


/* displaying code correctly */

pre {
  code {
    white-space: pre-wrap; 
    box-shadow:
      rgba(0,0,0,0.2)
      1px 1px 3px
      inset;
  }
  code.hljs {
    padding: 0 1em;
  }
}



/* FOOTER */

footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

@media all and (max-width: 55em) {
  footer .right {
    float: none;
  }
}