
/*  LAYOUT  */

.container {
  width: 96%;
    max-width: $max-width;
    margin: 0 auto;
}


/*  random colours and spacing for prototyping */
.color1 {background-color: #3A8EE2;}
.color2 {background-color: #ddd;}
.color3 {background-color: #f2f3f4;}
.tomato {background-color: tomato;}
.sandybrown {background-color: sandybrown;}
.space1 {padding: 6em 0;}
.space2 {padding: 4em 0;}
.space3 {padding: 2em 0;}

.right {
  float:right;
}



/* HEADER */

header {
  display: flex;
  color: #fff;
  background: #222;
  padding:0.5em 1em;
  margin-bottom: 2em;

  .title {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
    padding:0;

    a {
      color: #fff;
      border:none;
    }
  }
  nav li {
    float: left;
    list-style-type: none;
    line-height: 3rem;
    padding-right: 1.5em;
  }
  nav ul {
    list-style: none;
    margin-left: 2em;
  }
  nav a {
    color: #fff;

    
  }
  nav a:hover {
    color: tomato;
  }

  .selected {
    color: tomato;
    border: none;
    font-weight: bold;
  }
}


/* CENTRAL CONTENT AREA */

.theMeat {
  display: flex;
  flex-direction: column;
}


@media all and (min-width: 55em) {
  .theMeat {
    flex-direction: row;
  }
  .theMeat > aside {
    width: 20%;
    order: 1;
    border-right: 1px solid #ccc;

    ul {
      margin: 0 1em 0 0;
    }

    li {
      list-style: none;
      margin-left: 0;
      padding: 0 0 .5em 0;

    }
    li strong {padding-top: 1em;}
  }

  .theMeat main {
    width: 80%;
    order: 2;
    padding-left: 1em;
  }

}

// MAIN NAVIGATION


nav span {  /* not used right now, useful to select current page on the left-hand nav */
  font-weight: bold;
  margin: 1.5em 0 .4em;
  display: block;
}

// grid
.theGrid {
  .col {
    text-align: center;
    padding: 1em 0;
    color: #fff;
  }
}

// GRID LIST
.modulesList {
  display: flex;
}

.modulesList div {
  padding: 1em;
  border: 1px solid #f2f3f4;
  border-radius: 2px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  margin: 1%;

  h2 {
    margin-top: 0;
  }
}

pre {
  code {
    white-space: pre-wrap; 
    box-shadow:
      rgba(0,0,0,0.2)
      1px 1px 3px
      inset;
  }
  code.hljs {
    padding: 0 1em;
  }
}



// FOOTER

footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}