// typography

$font-stack: "Lato", Helvetica, arial, sans-serif;

// colour

$primary-color: #222;
$secondary-color: #333;
$accent-color: #344556;


// THIS IS THE ------------CLIENT------------- CONFIG

$client-font-stack: Georgia, Times, serif;

// colour
$primary-color: #222;
$secondary-color: #333;
$accent-color: #344556;

// layout

$large-column-number: 8;
$small-column-number: 4;
$max-width: 1100px;

