// typography

$font-stack: "Lato", Helvetica, arial, sans-serif;


// colour
$primary-color: #222;
$secondary-color: darkred;
$accent-color: #344556;

// layout

$large-column-number: 8;
$small-column-number: 4;
$max-width: 1100px;

