@charset "UTF-8";

// start with all the variables and CSS reset

/* change all SASS files as you wish, but the last one 'boilerplate' */
@import 'config';
@import 'reset';
@import 'guide';
@import 'layout';
@import 'boilerplate'; /* don't change this one */

// custom layout code goes here

// homepage styles
.intro {
	padding: 5em;
	text-align: center;

	h1 {
		font-size: 7rem;
		color: tomato;
	}
	p {
		font-size: 2.5rem;
	}
}