<footer>
	<p class="right"><a href="#theNorth">Back to top</a></p>
	<p>A front-end style guide by <a href="http://www.nordic-design.net">Alex Lillo</a>, based on the <a href="http://mixture.io/">Mixture</a> framework. <a href="https://github.com/Nordicdesign/styleguide-boilerplate">Fork it on Github</a>.</p>
	<p>Questions? Find me on <a href="https://twitter.com/nordic">Twitter</a>.</p>

</footer>