<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "style.css" | asset_url | stylesheet_tag }}
        {{ "default.min.css" | asset_url | stylesheet_tag }}
        {{ "highlight.pack.min.js" | asset_url | script_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>