<header id="top">
	<h1>Nordic</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">Grid</a></li>
			<li><a href="#">Components</a></li>
			<li><a href="#">Strategy</a></li>
			<li><a href="#">Layouts</a></li>
		</ul>
	</nav>
</header>