<header id="top">
	<p class="title"><a href="/">Style guide</a></p>
	<nav>
		<ul>
			<li><a href="/" {% if mixture.url == "index" %}class="selected"{% endif %}>Home</a></li>
			<li><a href="/strategy">Strategy</a></li>
			<li><a href="/elements" {% if mixture.url == "elements" %}class="selected"{% endif %}>Elements</a></li>
			<li><a href="/blocks" {% if mixture.url == "blocks" %}class="selected"{% endif %}>Blocks</a></li>
			<li><a href="/layouts" {% if mixture.url == "layouts" %}class="selected"{% endif %}>Layouts</a></li>
		</ul>
	</nav>
</header>