<nav id="navigation">

{% collection "elements" %}
  <ul>
  {% for post in collection.items %}
    <li><a href="{{ post.slug }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endcollection %}

</nav>