---
title: Corporate training
layout: blocks
published: true
date: 2014-11-02 00:00
slug: /corporate-training
---


 <div class="row">
    <div class="small4 large8 col">
    	<h2>Corporate training</h2>
		<h3>Module</h3>
		{{ 1 | lorem_ipsum | "p" }}
		<h4>How it looks like</h4>
    	{{ "corporate-training.png" | asset_url | image_tag }}

    </div>
</div>

<div class="row">
	<div class="small4 large4 col">
	<h4>HTML</h4>
    	<pre>
        	<code class="html">
<!-- code starts here, use this to encode it http://www.htmlescape.net/htmlescape_tool.html -->
&lt;div id=&quot;privateheader&quot;&gt;
	&lt;h2&gt;Corporate training&lt;/h2&gt;
&lt;/div&gt;       		
&lt;div id=&quot;privatecourses&quot;&gt;
&lt;h3&gt;Digital skills development&lt;/h3&gt;
&lt;p&gt;We work within your organisation to guide your team's skill development, providing benefits above and beyond our regular training services&lt;/p&gt;
&lt;p class=&quot;more&quot;&gt;&lt;a href=&quot;/training/corporate-training.shtml&quot;&gt;about corporate training&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;
<!-- code ends here -->
        	</code>
        </pre>	
    </div>
    <div class="small4 large4 col">
    	<h4>CSS</h4>
    	<pre>
        	<code class="css">
<!-- code starts here -->
#privateheader h2 {
	font:3.1em gil,"trebuchet MS",helvetica,sans-serif;
	line-height:.9em;
	background: url(../i-2012/private.gif) no-repeat 0 0;
	min-height:95px;
	padding-left:115px;
	padding-bottom:25px;
	text-transform: lowercase;
	padding-top:20px;
	margin-bottom:0;
	margin-top:0
}
#privatecourses {
	padding-bottom:5px;
	background: url(../i-2012/stars-high.gif) no-repeat 50% 100%;
	margin-bottom:10px
}
<!-- code ends here -->
        	</code>
        </pre>
                            
    </div>
</div>


