---
title: Example module
layout: module
published: true
date: 2014-11-02 00:00
slug: /example-module
tags: [example,news,story]
---


{% block content %} 
<h2>Example module</h2>
<p>Last modified: {{ post.date }}</p>
<p>This is a description of what it is and how it should be used.</p>
{{ 1 | lorem_ipsum:'p' }}

{% include "modules/example_code" %}
{% include "modules/example_example" %}
{% include "modules/example_css" %}
{% include "modules/example_related" %}
	
{% endblock %}