---
title: Example block
layout: blocks
published: true
date: 2014-11-09 00:00
slug: /block-example
tags: [example,news,story]
---

{% block content %} 
<h1>Example block</h1>
<p>Last modified: {{ post.date }}</p>
<p>This is a description of what it is and how it should be used.</p>
{{ 1 | lorem_ipsum:'p' }}

{% include "blocks/example_code" %}
{% include "blocks/example_example" %}
{% include "blocks/example_css" %}
{% include "blocks/example_related" %}
	
{% endblock %}