<h4>HTML</h4>
<pre>
    <code class="html">
<!-- code starts here, use this to encode it http://www.htmlescape.net/htmlescape_tool.html -->
&lt;div id=&quot;privateheader&quot;&gt;
	&lt;h2&gt;Corporate training&lt;/h2&gt;
&lt;/div&gt;       		
&lt;div id=&quot;privatecourses&quot;&gt;
&lt;h3&gt;Digital skills development&lt;/h3&gt;
&lt;p&gt;We work within your organisation to guide your team's skill development, providing benefits above and beyond our regular training services&lt;/p&gt;
&lt;p class=&quot;more&quot;&gt;&lt;a href=&quot;/training/corporate-training.shtml&quot;&gt;about corporate training&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;
<!-- code ends here -->
    </code>
</pre>	