  	<h4>CSS used in the module</h4>
    	<pre>
        	<code class="css">
<!-- code starts here -->
#privateheader h2 {
	font:3.1em gil,"trebuchet MS",helvetica,sans-serif;
	line-height:.9em;
	background: url(../i-2012/private.gif) no-repeat 0 0;
	min-height:95px;
	padding-left:115px;
	padding-bottom:25px;
	text-transform: lowercase;
	padding-top:20px;
	margin-bottom:0;
	margin-top:0
}
#privatecourses {
	padding-bottom:5px;
	background: url(../i-2012/stars-high.gif) no-repeat 50% 100%;
	margin-bottom:10px
}
<!-- code ends here -->
        	</code>
        </pre>