{% layout "listing" %}
{% block content %} 
<h1>Elements</h1>

<p>Not sure about what to include here? Check this <a href="http://daverupert.com/2013/04/responsive-deliverables/">post about responsive deliverables</a> by Dave Rupert for some inspiration.</p>	
{{ 5 | lorem_ipsum:'p' }}
	
{% endblock %}