{% block content %} 

<h1>How it works</h1>

<div class="row steps">
	<div class="small4 large2 col">
		<h2>1. Install <a href="http://mixture.io">Mixture</a></h2>
	</div>
	<div class="small4 large6 col">
		<p>Mixture is a free Mac/Win development framework that makes your life <em>quite</em> easy. Useful if you want to prototype stuff, or build a simple website. If you're familiar with <a href="http://jekyllrb.com/">Jekyll</a>, you'll find it similar as it's also based on <a href="https://github.com/Shopify/liquid/wiki">Liquid</a>.</p>
	</div>
</div>

<div class="filler">&nbsp;</div>

<div class="row steps">
	<div class="small4 large2 col">
		<h2>2. <a href="https://github.com/Nordicdesign/styleguide-boilerplate">Fork it on github</a></h2>
	</div>
	<div class="small4 large6 col">
		<p>Or clone it, or download it. Whatever the right terminology is. Basically get the files in your computer, give the folder your favourite name, and open it using Mixture.</p>
		<p>If you plan to use git, you know what you have to do better than me.</p>
	</div>
</div>


<div class="filler">&nbsp;</div>

<div class="row steps">
	<div class="small4 large2 col">
		<h2>3. Add your styles</h2>
	</div>
	<div class="small4 large6 col">
		<h3>Do not touch</h3>
		<ul>
			<li>_boilerplate.scss</li>
		</ul>
		<h3>Do touch</h3>
		<p>Any other scss file. Basically do whatever you want, add custom styles on the <em>style.scss</em>, <em>_guide.scss</em> (this should where your live site styles are), <em>_layout.scss</em> (this is where your live site layout styles should be).</p>

		<p>But this is just how I've organised my SCSS. Do whatever you want with your files. It's your site. Just remember to import the SCSS partials into <em>style.scss</em>.</p>
	</div>
</div>

<div class="filler">&nbsp;</div>

<div class="row steps">
	<div class="small4 large2 col">
		<h2>4. Add your webfonts/javascript</h2>
	</div>
	<div class="small4 large6 col">
		<p>If you don't need additional javascript (jQuery 1.x goes by default) or webfonts, move to the next point.</p>
		<p>If you do need to add stuff, edit the file <em>templates > includes > head.liquid</em>.</p>
	</div>
</div>

<div class="filler">&nbsp;</div>

<div class="row steps">
	<div class="small4 large2 col">
		<h2>5. Check your site looks fine</h2>
	</div>
	<div class="small4 large6 col">
		<p>By now the site should look like quite like you intented. Unless something is broken. Which is quite likely as this is purely an experiment. If that happens, open an issue on github, or <a href="https://twitter.com/nordic">get in touch via Twitter</a>.</p>
	</div>
</div>

<div class="filler">&nbsp;</div>

<div class="row steps">
	<div class="small4 large2 col">
		<h2>6. Let your content shine</h2>
	</div>
	<div class="small4 large6 col">
		<p>Now that everything works fine, it's time to add your content. <strong>You'll be mainly editing, adding and deleting files under the **collections** folder</strong>.</p>
		<p>There are four folders (blocks, elements, layouts, strategy). As you can imagine, adding or deleting <em>.liquid</em> files will change the content of those categories. Navigation will be generated on the fly by Mixture.</p>
		<p>So start editing files, creating new ones (just follow the <a href="http://docs.mixture.io/collections">Mixture documentation</a>), and deleting what you don't need.</p>
		<p>At some point you will like to explore the <em>templates</em> folder, where you could edit the homepage (index.liquid) and other stuff. Hopefully by now you won't need this guide anymore.</p>
	</div>
</div>

<p>Have fun using this boilerplate! For comments, complaints or suggestions simply <a href="https://twitter.com/nordic">drop me a line</a>.</p>

{% endblock %}