{% block content %} 

<div class="intro">
	<h1>Style guide</h1>
	<p>This is a simple boilerplate to create front-end style guides using <a href="http://mixture.io/">Mixture</a>.</p>	
	<p>Import your styles and document how your website is built.</p>
</div>

	
{% endblock %}