{% block content %} 

<div class="intro">
	<h1>Style guide</h1>
	<p>This is a simple boilerplate to create front-end style guides using <a href="http://mixture.io/">Mixture</a>, so you can efforlessly document how your website is built.</p>
	<p><a href="/how-it-works">How it works</a> in 6 simple steps.</p>
</div>

	
{% endblock %}