{% block content %} 

<div class="intro">
	<h1>Duct</h1>
    <p>Modularise. Reuse. Document.</p>
	<p>Duct is a simple boilerplate to create front-end style guides using <a href="http://mixture.io/">Mixture</a>, so you can efforlessly document how your modular system works.</p>
	<p><a href="/how-it-works">Start using it</a> in 6 simple steps.</p>
</div>

	
{% endblock %}