{% layout "listing" %}
{% block content %} 

<h2>Modules</h2>
<p>Here should go a grid of all the different modules</p>
<div class="modulesList">
	{% collection "modules" %}
	  {% for post in collection.items %}
	  <div>
	  	<h3><a href="{{ post.slug }}">{{ post.title }}</a></h3>
	  	<p>I need a description here</p>
	  </div>
	  {% endfor %}
	{% endcollection %}
</div>
{% endblock %}