{% layout "listing" %}
{% block content %} 

<h1>Strategy</h1>
<div class="duct-modulesList">
	{% collection "strategy" %}
	  {% for post in collection.items %}
	  <div>
	  	<h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
	  	<p>{{ post.description }}</p>
	  </div>
	  {% endfor %}
	{% endcollection %}
</div>
{% endblock %}